:root {
    --accentsuccesssuccess-100: rgba(83, 210, 88, 1);
    --baseblack-0: rgba(255, 255, 255, 1);
    --baseblack-100: rgba(44, 49, 49, 1);
    --baseblack-40: rgba(202, 202, 202, 1);
    --baseblack-60: rgba(169, 169, 169, 1);
  }
  